* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */



.navbar {
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* move menu to right */
    padding: 0 40px;
}

.logo {
    width: 200px;
    /* Logo size */
    height: auto;
    position: fixed;
    /* Stay in corner */
    top: -25px;
    /* Distance from top */
    left: 05px;
    /* Distance from right */
    z-index: 1000;
    /* Always on top */
}

.navbar nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #f3d1d1;
    font-weight: 500;
}

.login-btn {
    padding: 7px 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 22%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card p {
    font-size: 92px;
    font-weight: bold;
    margin-top: 8px;
}



/* Hero Section */

.hero {
    min-height: 90vh;
    background: linear-gradient(to right, #adbbdb, #aabff6, #2563eb);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    color: white;
}

/* ================= CARDS ================= */

.cards {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 22%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 8px;
}

/* ================= CHARTS ================= */

.charts {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px;
}

.chart-box {
    background: white;
    padding: 25px;
    width: 45%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* HEALTH SUMMARY */
.health-summary {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.progress-container {
    width: 100%;
    background-color: #e5e7eb;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px 0;
    height: 25px;
}

.progress-bar {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    transition: width 0.6s ease-in-out, background-color 0.6s ease;
}